<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.BoardDao">

	<select id="selectBoardList"  resultType="com.volunteer.entity.Board" parameterType="map">
		select * from Board where 1 = 1

		<if test="map.key != null and map.key != '' ">
			<bind name="title" value="'%' + map.key + '%'"/>
			and title like #{title}
		</if>

		<if test="map.title != null and map.title != '' ">
			<bind name="title" value="'%' + map.title + '%'"/>
			and title like #{title}
		</if>
		order by id desc

	</select>
	   <insert id="addBoard" parameterType="com.volunteer.entity.Board" >
	    insert into Board (title,content, img ,fbsj)
	    values (#{Board.title},
	    #{Board.content},#{Board.img},#{Board.fbsj})
   </insert>

	<delete id="deleteBoard" parameterType="java.lang.Integer">
	    delete from Board
	    where id = #{id}
	  </delete>

	<select id="selectBoardById" parameterType="java.lang.Integer" resultType="com.volunteer.entity.Board">
     select * from Board where id = #{id}
    </select>

	<update id="updateBoard" parameterType="com.volunteer.entity.Board">
      update Board set 
        title = #{Board.title},
        content = #{Board.content},
        img = #{Board.img}
        where id = #{Board.id}
     </update>
</mapper>